.table {
  border-collapse: collapse;
}

.table input {
  margin: 2px 2px 0px 2px;
}

.table .slim {
  padding: 0;
}

.table tr td:not(.slim) {
  padding: 0 5px;
}

.table tr th:not(.slim) {
  padding: 0 20px;
}

.table tr td:not(:first-child),
th:not(:first-child) {
  border-left: 1px solid var(--borderColor);
}

.table tr td:last-child,
th:last-child {
  border-right: 1px solid var(--borderColor);
}

.table tr {
  border-bottom: 1px solid var(--borderColor);
  white-space: nowrap;
}
